@CHARSET "EUC-KR";
div.{border:solid 1px red;}
			#titlePlace{position:relative; height:80px;}
			#pageTitle{position:relative; top: 30px; left:50px; width:500px; border-top:1px solid #C0C0C0; border-bottom:1px solid #C0C0C0; background-color:#EAEAEA; padding:3px;}
			#ViewList{position:relative;width:300px;}
			#buttonPlace{position:relative; height:60px;}
			#buttons{position:relative; left:641px; top:30px; width:210px;}
			table{width:800px; border:0; border-collapse:collapse;}
			table tr{height:30px;}
			.line{border:1px solid grey;}
			.underLine{border-bottom:2px solid black;}